@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto; 
    grid-template-areas:
    'header'
    'section'
    'footer';
}

header {
    /* width: max-content; */
    /* border: solid 1px black; */
    grid-area: header;
    background-color: #0099FF;
    height: 75px;
    /* box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.10); */
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* ============= HEADER ============= */
header {
    /* z-index: 5; */
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 2;
    height: 75px;
    background-color: #0099FF;
    /* box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.10); */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

/* === Logo === */
header .logo {
    display: flex;
    align-items: center;
}

header .logo .img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

header .logo .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

header .logo p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: white;
}

/* === Navigation === */
header nav {
    
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header 
header nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .navbar li {
    margin: 0 5px;
}

header nav .navbar a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 5px;
}

header nav .navbar .icons {
    cursor: pointer;
}

header nav .navbar .icons i {
    font-size: 25px;
    color: #FFFFFF;
}

@keyframes fadeIn {
    0% {
        transform: translateY(10px);
        opacity: 0.2s;
    }
}

/* ============= SECTION ============= */


/* ============= FOOTER ============= */
footer {
    margin-top: 200px;
    /* position: fixed; */
    bottom: 0; left: 0; right: 0;
    width: 100%;
    display: grid;
    grid-template-areas:
        'left middle right'
        'bottom bottom bottom';
    background-color: #24285B;
    gap: 10px;
}

.left { grid-area: left; }
.middle { grid-area: middle; }
.right { grid-area: right; }
.bottom { grid-area: bottom; }

footer > div {
    background: #24285B;
}

footer ul li {
    display: inline-block;
    width: 50px;
}

footer .left h3 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

footer .left p {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin-bottom: 10px;
}

footer .right {
    text-align: center;
}

footer .right h3 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

footer .right .follow-icon {
    margin-right: 0;
    margin-left: 0;
    height: 30px;
}

footer .fa {   
    display: inline-block;
    color: #FFFFFF;
}

footer .fa:hover {
    color: #0099FF;
    transform: scale(150%);
}

footer .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #14173D;
}

footer .bottom p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}