@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: grid;
    grid-template-areas:
        "nav nav"
        "judul judul"
        "artikel rekomendasi"
        "footer footer";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 67% 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 1em;
    background-color: #f1f1f1;
}

img{
    width: 100%;
}

h1{
    color: #24285B;
}

a{
    text-decoration: none;
}

header {
    grid-area: nav;
}

/* artikelllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
.head-artikel {
    grid-area: judul;
    font-family: 'Poppins';
    /* background-color: red; */
    padding-left: 7%;
    padding-top: 100px;
}

.head-artikel p {
    font-size: 18px;
}
.head-artikel h1{
    font-size: 60px;
    /* padding-left: 10%; */
}

article {
    grid-area: artikel;
    font-family: 'Open Sans';
    padding-left: 10%;
}

article p {
    text-align: justify;
    font-size: 18px;
    color: black;
}

.dokumentasi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: auto;
}

.dokumentasi img {
    width: 640px;
    height: 320px;
    margin-bottom: 20px;
}

/* publikasi lainnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
aside {
    grid-area: rekomendasi;
    font-family: 'Open Sans';
    padding-right: 12%;
}
aside .publikasi-lainnya{
    text-align: center;
}
aside h2, aside ul li h2{
    font-size: 25px;
}
aside h2.publikasi-lainnya{
    color: #24285B;
}
aside p {
    font-family: 'Poppins';
    font-size: 16px;
}
aside ul {
    list-style-type: none;
}

aside ul li{
    /* border-bottom: 5px solid black; */
    margin: 10% 0;
    /* background-color: yellow; */
}

aside ul li .deskripsi-publikasi-lain{  
    margin: 10px 0;  
    padding: 0 3% 3% 3%;
}

aside ul li .deskripsi-publikasi-lain h2, aside ul li .deskripsi-publikasi-lain p {
    margin: 5px 0;
}

aside li.sekat{
    padding: 0;
    display: block;
    background-color: black;
    border: 2px solid black;
}
aside ul li:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

aside ul li a{
    color: #24285B;
}
aside ul li a:hover{
    color: #0099FF;
}

aside a{
    display: block;
}

footer {
    grid-area: footer;
    bottom: 0; left: 0; right: 0; 
    width: 100%;
    display: grid;
    grid-template-areas:
        'left middle right'
        'bottom bottom bottom';
    background-color: #24285B;
    gap: 10px;
    padding: 5px 0 5px 0;
}

.left { grid-area: left; }
.middle { grid-area: middle; }
.right { grid-area: right; }
.bottom { grid-area: bottom; }

footer > div {
    background: #24285B;
}

footer ul li {
    display: inline-block;
    width: 50px;
}

.left h3 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.left p {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin-bottom: 10px;
}

.right {
    text-align: center;
}

.right h3 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.right .follow-icon {
    margin-right: 0;
    margin-left: 0;
    height: 30px;
}

.fa {   
    display: inline-block;
    color: #FFFFFF;
}

.fa:hover {
    color: #0099FF;
    transform: scale(150%);
}

.bottom {
    width: 100%;
    background-color: #14173D;
}

.bottom p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .head-artikel h1{
        font-size: 45px;
    }
    .head-artikel p{
        font-size: 16px;
    }
    article p{
        font-size: 16px;
    }
    
    aside h2, aside ul li h2{
        font-size: 20px;
    }
    aside p {
        font-size: 14px;
    }

    aside ul li .deskripsi-publikasi-lain{  
        margin: 10px 0;  
    }
    
    aside ul li .deskripsi-publikasi-lain h2, aside ul li .deskripsi-publikasi-lain p {
        margin: 5px 0;
    }
}

@media only screen and (max-width: 600px) {
    body{
        grid-template-areas:
        "nav nav"
        "judul judul"
        "artikel artikel"
        "rekomendasi rekomendasi"
        "footer footer";
    }

    .head-artikel{
        margin-top: 75px;
    }
    
    .head-artikel,article,aside{
        padding: 0 5%;
    }
    .head-artikel h1{
        font-size: 35px;
    }
    .head-artikel p{
        font-size: 12px;
    }
    article p{
        font-size: 12px;
    }
    
    aside h2 {
        margin-top: 10%;
        font-size: 14px;
    } 
    
    aside ul li h2{
        font-size: 14px;
    }
    aside p {
        font-size: 11px;
    }

    aside ul li{
        margin: 3% 0;
        padding: 5px;
    }
    aside ul li a{
        display: flex;
        flex-direction: row;
    }
    aside ul li .kotak-gambar{
        flex: 1;
        width: 100px;
        height: 10%;
        overflow: hidden;
    }
    aside ul li .deskripsi-publikasi-lain{
        flex: 3;
        /* background-color: yellow; */
    }

    aside ul li .deskripsi-publikasi-lain{  
        margin: 0;  
    }
/*     
    aside ul li .deskripsi-publikasi-lain h2, aside ul li .deskripsi-publikasi-lain p {
        /* display: flex;
        justify-content: justify;
        text-align: left;
        align-items: left;
    } */

    aside ul li.sekat{
        border: 1px solid black;
    }
}

/* RESPONSIVE */
/* Extra super-saiyan small X3 Pro devices (phones, 360px and down) */

@media only screen and (max-width: 359px) {
    * {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    footer {
        height: 200px;
    }
        
    .left {
        width: 100%;
        height : 150px;
    }
        
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 15px;
    }
        
    .left .about-desc {
        width: 175px;
        margin: 0 0 0 12.5%;
        font-size: 11px;
    }
            
    .middle {
        width: 100%;
        height : 150px;
    }
            
    .right {
        width: 100%;
        height : 150px;
        }
            
    .right h3 {
        font-size: 15px;
        margin: 5% 0 0 0;
    }
        
    .right .follow-icon {
        font-size: 9px;
        margin: 5% 0 0 0;
    }

    .right .follow-icon li {
        width: 30px;
    }
        
    .bottom {
        height : 45px;
    }
        
    .bottom p {
        font-size: 11px;
        margin-top: 3.5%;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 420px) {
    /* Responsive Footer */
    footer {
        height: 200px;
    }
        
    .left {
        width: 100%;
        height : 150px;
    }
        
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 18px;
    }
        
    .left .about-desc {
        width: 200px;
        margin: 0 0 0 12.5%;
        font-size: 11px;
    }
            
    .middle {
        width: 100%;
        height : 150px;
    }
            
    .right {
        width: 100%;
        height : 150px;
        }
            
    .right h3 {
        font-size: 18px;
        margin: 4% 0 0 0;
    }
        
    .right .follow-icon {
        font-size: 9px;
        width: 100%;
        margin: 4% 0 0 0;
    }

    .right .follow-icon li {
        width: 30px;
    }
        
    .bottom {
        height : 45px;
    }
        
    .bottom p {
        margin-top: 3%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Responsive Footer */
    footer {
        height: 200px;
    }
    
    .left {
        width: 100%;
        height : 150px;
    }
    
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 22px;
    }
    
    .left .about-desc {
        width: 275px;
        margin: 2% 0 0 12.5%;
        font-size: 15px;
    }
        
    .middle {
        width: 100%;
        height : 150px;
    }
        
    .right {
        width: 100%;
        height : 150px;
        }
        
    .right h3 {
        font-size: 22px;
        margin: 6% 0 0 0;
    }
    
    .right .follow-icon {
        font-size: 12px;
        width: 100%;
        margin: 7% 0 0 0;
    }
    
    .right .follow-icon li {
        width: 40px;
    }

    .bottom {
        height :45px;
    }
    
    .bottom p {
        margin-top: 2.5%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Responsive Footer */
    footer {
        height: 250px;
    }
    
    .left {
        width: 100%;
        height : 190px;
    }
    
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 24px;
    }
    
    .left .about-desc {
        width: 270px;
        margin: 4% 0 0 12.5%;
        font-size: 15px;
    }
        
    .middle {
        width: 100%;
        height : 190px;
    }
        
    .right {
        width: 100%;
        height : 190px;
        }
        
    .right h3 {
        font-size: 24px;
        margin: 7% 0 0 0;
    }
    
    .right .follow-icon {
        width: 100%;
        margin: 8% 0 0 0;
    }

    .right .follow-icon li {
        width: 40px;
    }

    .bottom {
        height : 55px;
    }
    
    .bottom p {
        margin-top: 2.5%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Responsive Footer */
    footer {
        height: 250px;
    }

    .left {
        width: 100%;
        height : 190px;
    }

    .left h3 {
        width: 150px;
        margin: 5% 0 0 15%;
        font-size: 27px;
    }

    .left .about-desc {
        width: 325px;
        margin: 3.5% 0 0 15%;
        font-size: 18px;
    }
    
    .middle {
        width: 100%;
        height : 190px;
    }
    
    .right {
        width: 100%;
        height : 190px;
    }
    
    .right h3 {
        font-size: 27px;
        margin: 7% 0 0 0;
    }

    .right .follow-icon {
        width: 100%;
        margin: 6% 0 0 0;
        font-size: 15px;
    }

    .right .follow-icon li {
        width: 50px;
    }

    .bottom {
        height : 60px;
    }

    .bottom p {
        margin-top: 2%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
    /* Responsive Footer */
    footer {
        height: 250px;
    }

    .left {
        width: 100%;
        height : 190px;
    }

    .left h3 {
        width: 150px;
        margin: 5% 0 0 15%;
        font-size: 29px;
    }

    .left .about-desc {
        width: 375px;
        margin: 2.5% 0 0 15%;
        font-size: 20px;
    }
    
    .middle {
        width: 100%;
        height : 190px;
    }
    
    .right {
        width: 100%;
        height : 190px;
    }
    
    .right h3 {
        font-size: 29px;
        margin: 7% 0 0 0;
    }

    .right .follow-icon {
        width: 100%;
        margin: 6% 0 0 0;
        font-size: 15px;
    }

    .right .follow-icon li {
        width: 50px;
    }

    .bottom {
        height : 60px;
    }

    .bottom p {
        margin-top: 2%;
    }
}