/* RESPONSIF */ 

/* KONTEN DAN NAVBAR */
@media only screen and (max-width: 1250px){

    .grid-kabar{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
}

@media only screen and (max-width: 1140px){
    body{     
        background-size: 500vh;
    }

    .grid-kabar{
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
}

@media screen and (max-width: 992px){
    .container-judul, .container-judul.kabar{
        margin-top: 110px;
    }    

    .tulisan-judul{
        /* padding-top: 14%; */
        padding-bottom: 4%;
        width: 90%;
    }

    .container-content{
        margin-top: 90px;
    }

    .container-slide{
        margin-top: 5%;
    }

    .item-kabar{
        width: 315px;
        height: 434px;
    }

    .image{    
        width: 315px;
        height: 240px;
    }
}

@media only screen and (max-width: 768px){
    body{     
        background-size: 700vh;
    }

    .container-judul, .container-judul.kabar{
        margin-top: 20px;
    }
    
    .tulisan-judul{
        padding-top: 17%;
        padding-bottom: 4%;
        width: 90%;
    }
    
    .tulisan-judul.kabar{
        padding-top: 17%;
        padding-bottom: 4%;
        /* border: 1px solid black; */
        width: 90%;
    }

    .judul-halaman{
        margin: 10px 0;
    }

    .deskripsi-judul{
        line-height: 35px;
        padding: 0 10px;
    }
    .tulisan-judul.kabar{
        margin-top: -3%;
        margin-right: -10%;
        width: 93%;      
        /* margin-left: 11px;   */
    }
    .judul-halaman.kabar{
        margin-right: 0px;
    }
    .deskripsi-judul.kabar p{
        margin-right: 0px;
    }

    .gambar-judul{
        display: none;
    }

    .judul-content{
        margin-top: 70px;
        margin-bottom: 5px;
    }
    
    .grid-kabar{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    .item-kabar{
        width: 270px;
        height: 437px;
    }

    .image{
        width: 270px;
        height: 205px;
    }
}

@media only screen and (max-width:676px) {
    .grid-kabar{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    
    .tulisan-judul.kabar{
        margin-left: 11px;
        /* border: 1px solid black; */
    }

    /* .item-kabar{
        width: 245px;
        height: 430px;
    }

    .image{
        width: 245px;
        height: 198px;
    } */
}

@media only screen and (max-width:640px){
    .item-kabar{
        width: 250px;
        height: 422px;
    }

    .image{
        width: 250px;
        height: 190px;
    }
}

@media only screen and (max-width:600px){
    .judul-halaman{
        margin: 7px 0px;
    }

    .tulisan-judul{
        margin-left: 10%;
        padding-top: 25%;
        width: 85%;
        /* border: 1px solid black; */
    }
    .tulisan-judul.kabar{
        margin-left: 0px;
        padding-top: 22%;
        /* border: 1px solid black; */
    }

    .deskripsi-judul{
        line-height: 24px;
        padding: 0 10px;
    }
    
    .grid-kabar{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    .item-kabar{
        width: 420px;
        height: 550px;
    }

    .image{
        width: 420px;
        height: 320px;
    }
    
}

@media only screen and (max-width: 550px) {
    .tulisan-judul{
        margin-left: 12%;
        padding-top: 27%;
        width: 80%;
        /* border: 1px solid black; */
    }
    .tulisan-judul.kabar{
        margin-left: 0px;
        padding-top: 25%;
        /* border: 1px solid black; */
    }

    .item-kabar{
        width: 390px;
        height: 500px;
    }

    .image{
        width: 390px;
        height: 297px;
    }
}

@media only screen and (max-width: 520px) {
    .tulisan-judul{
        margin-left: 10%;
        padding-top: 30%;
        width: 80%;
        /* border: 1px solid black; */
    }
    .tulisan-judul.kabar{
        margin-left: 0px;
        padding-top: 25%;
        /* border: 1px solid black; */
    }
}

@media only screen and (max-width: 450px) {
    .tulisan-judul{
        margin-left: 10%;
        padding-top: 35%;
        width: 80%;
        /* border: 1px solid black; */
    }
    .tulisan-judul.kabar{
        margin-left: 0px;
        padding-top: 30%;
        /* border: 1px solid black; */
    }

    .item-kabar{
        width: 325px;
        height: 412px;
    }

    .image{
        width: 325px;
        height: 247px;
    }
}

@media only screen and (max-width: 400px) {
    .item-kabar{
        width: 300px;
        height: 400px;
    }

    .image{
        width: 300px;
        height: 225px;
    }
}


/* FONT DAN FOOTER */
@media only screen and (max-width: 450px) {
    .judul-halaman{
        font-size: 38px;
    }

    .deskripsi-judul{
        font-size: 14px;
    }

    .judul-content{
        font-size: 25px;
    }

    .bawahKiri p{
        font-size: 12px;
    }

    .text-kabar div{
        font-size: 18px;
    }

    .text-kabar p{
        font-size: 12px;
    }

    /* footer */
    footer {
        height: 200px;
        top: 1995px;
    }
        
    .left {
        width: 100%;
        height : 150px;
    }
        
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 15px;
    }
        
    .left .about-desc {
        width: 175px;
        margin: 0 0 0 12.5%;
        font-size: 11px;
    }
            
    .middle {
        width: 100%;
        height : 150px;
    }
            
    .right {
        width: 100%;
        height : 150px;
        }
            
    .right h3 {
        font-size: 15px;
        margin: 5% 0 0 0;
    }
        
    .right .follow-icon {
        font-size: 9px;
        margin: 5% 0 0 0;
    }

    .right .follow-icon li {
        width: 30px;
    }
        
    .bottom {
        height : 35px;
    }
        
    .bottom p {
        font-size: 11px;
        margin-top: 2.5%;
    }
}

@media only screen and (min-width: 450px) {
    .judul-halaman{
        font-size: 40px;
    }

    .deskripsi-judul{
        font-size: 16px;
    }

    .judul-content{
        font-size: 27px;
    }

    .bawahKiri p{
        font-size: 14px;
    }

    .text-kabar div{
        font-size: 20px;
    }

    .text-kabar p{
        font-size: 16px;
    }

    /* footer */
    footer {
        height: 200px;
        top: 1995px;
    }
        
    .left {
        width: 100%;
        height : 150px;
    }
        
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 18px;
    }
        
    .left .about-desc {
        width: 200px;
        margin: 0 0 0 12.5%;
        font-size: 11px;
    }
            
    .middle {
        width: 100%;
        height : 150px;
    }
            
    .right {
        width: 100%;
        height : 150px;
        }
            
    .right h3 {
        font-size: 18px;
        margin: 4% 0 0 0;
    }
        
    .right .follow-icon {
        font-size: 9px;
        width: 100%;
        margin: 4% 0 0 0;
    }

    .right .follow-icon li {
        width: 30px;
    }
        
    .bottom {
        height : 35px;
    }
        
    .bottom p {
        margin-top: 2%;
    }
}

@media only screen and (min-width: 600px) {
    .judul-halaman{
        font-size: 45px;
    }

    .deskripsi-judul{
        font-size: 22px;
    }

    .judul-content{
        font-size: 30px;
    }

    .bawahKiri p{
        font-size: 13px;
    }

    .text-kabar div{
        font-size: 16px;
    }

    .text-kabar p{
        font-size: 14px;
    }

    /* footer */
    footer {
        height: 200px;
        top: 2155.5px;
    }
    
    .left {
        width: 100%;
        height : 150px;
    }
    
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 22px;
    }
    
    .left .about-desc {
        width: 275px;
        margin: 2% 0 0 12.5%;
        font-size: 15px;
    }
        
    .middle {
        width: 100%;
        height : 150px;
    }
        
    .right {
        width: 100%;
        height : 150px;
        }
        
    .right h3 {
        font-size: 22px;
        margin: 6% 0 0 0;
    }
    
    .right .follow-icon {
        font-size: 12px;
        width: 100%;
        margin: 7% 0 0 0;
    }
    
    .right .follow-icon li {
        width: 40px;
    }

    .bottom {
        height : 35px;
    }
    
    .bottom p {
        margin-top: 1%;
    }
}

@media only screen and (min-width: 768px) {
    .judul-halaman{
        font-size: 45px;
    }

    .deskripsi-judul{
        font-size: 24px;
    }

    .judul-content{
        font-size: 33px;
    }

    .bawahKiri p{
        font-size: 14px;
    }

    .text-kabar div{
        font-size: 16px;
    }

    .text-kabar p{
        font-size: 14px;
    }

    /* footer */
    footer {
        height: 250px;
        top: 2235px;
    }
    
    .left {
        width: 100%;
        height : 190px;
    }
    
    .left h3 {
        width: 150px;
        margin: 5% 0 0 12.5%;
        font-size: 24px;
    }
    
    .left .about-desc {
        width: 270px;
        margin: 4% 0 0 12.5%;
        font-size: 15px;
    }
        
    .middle {
        width: 100%;
        height : 190px;
    }
        
    .right {
        width: 100%;
        height : 190px;
        }
        
    .right h3 {
        font-size: 24px;
        margin: 7% 0 0 0;
    }
    
    .right .follow-icon {
        width: 100%;
        margin: 8% 0 0 0;
    }

    .right .follow-icon li {
        width: 40px;
    }

    .bottom {
        height : 50px;
    }
    
    .bottom p {
        margin-top: 1.5%;
    }
}

@media only screen and (min-width: 992px) {
    .judul-halaman{
        font-size: 50px;
    }

    .deskripsi-judul{
        font-size: 27px;
    }

    .judul-content{
        font-size: 36px;
    }

    .bawahKiri p{
        font-size: 15px;
    }

    .text-kabar div{
        font-size: 16px;
    }

    .text-kabar p{
        font-size: 15px;
        line-height: 20px;
    }

    /* footer */
    footer {
        height: 250px;
        top: 2235px;
    }

    .left {
        width: 100%;
        height : 190px;
    }

    .left h3 {
        width: 150px;
        margin: 5% 0 0 15%;
        font-size: 27px;
    }

    .left .about-desc {
        width: 325px;
        margin: 3.5% 0 0 15%;
        font-size: 18px;
    }
    
    .middle {
        width: 100%;
        height : 190px;
    }
    
    .right {
        width: 100%;
        height : 190px;
    }
    
    .right h3 {
        font-size: 27px;
        margin: 7% 0 0 0;
    }

    .right .follow-icon {
        width: 100%;
        margin: 6% 0 0 0;
        font-size: 15px;
    }

    .right .follow-icon li {
        width: 50px;
    }

    .bottom {
        height : 50px;
    }

    .bottom p {
        margin-top: 1.25%;
    }
}

@media screen and (min-width: 1280px) {
    .judul-halaman{
        font-size: 60px;
    }

    .deskripsi-judul{
        font-size: 29px;
    }

    .judul-content{
        font-size: 40px;
    }

    .bawahKiri p{
        font-size: 15px;
    }

    /* footer */
    footer {
        height: 250px;
        top: 2235px;
    }

    .left {
        width: 100%;
        height : 190px;
    }

    .left h3 {
        width: 150px;
        margin: 5% 0 0 15%;
        font-size: 29px;
    }

    .left .about-desc {
        width: 375px;
        margin: 2.5% 0 0 15%;
        font-size: 20px;
    }
    
    .middle {
        width: 100%;
        height : 190px;
    }
    
    .right {
        width: 100%;
        height : 190px;
    }
    
    .right h3 {
        font-size: 29px;
        margin: 7% 0 0 0;
    }

    .right .follow-icon {
        width: 100%;
        margin: 6% 0 0 0;
        font-size: 15px;
    }

    .right .follow-icon li {
        width: 50px;
    }

    .bottom {
        height : 50px;
    }

    .bottom p {
        margin-top: 1.25%;
    }
}

@media only screen and (max-width: 359px) {
    *{
        display: none;
    }
}

/* ============= RESPONSIVE HEADER ============= */
/* Super Extra small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
    header .container .logo {
        margin-left: 2.5%;
        font-size: 18px;
        line-height: 40px;
    }

    header .container .navbar {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: 100%;
        /* border-top: #0099FF 1px solid;
        border-bottom: #0099FF 1px solid; */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 0.3s ease-in-out;
        background: #24285B
    }

    header .container nav .navbar li {
        width: 100%;
        padding: 10px;
        display: block;
    }

    header .container nav .navbar a {
        margin: 10px 0 10px 20px;
        font-size: 15px;
        color: #FFFFFF;
    }

    header .container .navbar li:hover {
        color: #FFFFFF;
        background-color: #0099FF;
        border-radius: 5px;
    }

    header .container .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all 0.3s ease-in-out;
    }

    header .container .icons {
        font-size: 15px;   
    }
    
    header .container .icons {
        margin-left: 75%;
    }

    #menu-btn {
        display: inline-block;
        color: #FFFFFF;
    }
}

/* Extra small devices (phones, 420px and up) */
@media only screen and (min-width: 420px) {
    header .container .logo {
        margin-left: 2.5%;
        font-size: 20px;
        line-height: 40px;
    }

    header .container .navbar {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: 100%;
        /* border-top: #000000 0.5px solid;
        border-bottom: #000000 0.5px solid; */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 0.3s ease-in-out;
        background: #24285B;
    }

    header .container  nav .navbar li {
        width: 100%;
        padding: 10px;
        display: block;
    }

    header .container  nav .navbar a {
        margin: 10px 0 10px 20px;
        font-size: 15px;
        color: #FFFFFF;
    }

    header .container .navbar li:hover {
        color: #FFFFFF;
        background-color: #0099FF;
        border-radius: 5px;
    }

    header .container .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all 0.3s ease-in-out;
    }

    header .container .icons {
        font-size: 20px;
        margin-left: 75%;
    }

    #menu-btn {
        display: inline-block;
        color: #FFFFFF;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    header .container .logo {
        margin-left: 2.5%;
        font-size: 20px;
        line-height: 35px;
    }

    header .container .navbar {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: 100%;
        /* border-top: #000000 0.5px solid;
        border-bottom: #000000 0.5px solid; */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 0.3s ease-in-out;
        background: #24285B;
    }

    header .container nav .navbar li {
        width: 100%;
        padding: 10px;
        display: block;
    }

    header .container nav .navbar a {
        margin: 10px 0 10px 20px;
        font-size: 20px;
        color: #FFFFFF;
    }

    header .container .icons {
        margin-left: 75%;
    }

    header .container .navbar li:hover {
        color: #FFFFFF;
        background-color: #0099FF;
        border-radius: 5px;
    }

    header .container .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all 0.3s ease-in-out;
    }

    #menu-btn {
        display: inline-block;
        color: #FFFFFF;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    header .container .logo {
        margin-left: 2.5%;
        font-size: 25px;
        line-height: 35px;
    }

    header .container .navbar {
        display: flex;
        flex-direction: row;
        position: relative;
        clip-path: none;
        border: none;
        margin-right: 10%;
        background-color: #0099FF;
    }

    header .container nav .navbar li {
        display: inline-block;
        padding: 0;
    }

    header .container nav .navbar a {
        font-size: 25px;
        color: #FFFFFF;
        margin: 0px;
    }

    header .container .navbar a:hover {
        color: #0099FF;
        background-color: white;
        border-radius: 5px;
    }

    #menu-btn {
        display: none;
    }

}
